<div class='product_card card'>

  <div class='card_body'>
    <h3 class='product_name'>{{name}}</h3>
    <p class='product_description'>{{description}}</p>
    <p class='product_id'>ID:{{id}}</p>
  </div>
  <div class='card_footer'>
    <h4 class='product_price'>{{price}}$</h4>
    <a href='/product-edit?id={{id}}'>Update</a>
  </div>
</div>