<main class='main'>
  {{#with data}}
    <div class='main__content'>
      <h1 class='title title--center'>Додати до плейліста</h1>
      <ul class='track__list'>
        {{#each tracks}}
          <li class='track'>
            <img src='{{image}}' />
            <div class='track__content'>
              <strong class='track__name'>{{name}}</strong>
              <em class='track__author'>{{author}}</em>
            </div>
            <a
              href='/spotify-playlist-add-track?playlist_id={{../playlist_id}}&track_id={{id}}'
            >
              <img src='/svg/add-button.svg' />
            </a>
          </li>
        {{/each}}
      </ul>
    </div>
  {{/with}}
</main>
