<div class='input_component'>
  <label for={{name}}>{{text}}</label>
  {{#if big}}
    <input name={{name}} type='text' />
    <p class='footer'>{{footer}}{{Big}}</p>
  {{else}}
    <input name={{name}} type='text' />
  {{/if}}
</div>